.btn-xxl {
  font-size: 2em;
}
/* Custom CSS for the checkbox label */
.accent-yellow::before {
  border-color: var(--yellow) !important;
  background-color: var(--yellow) !important;
}

/* Custom CSS for the checkbox label text */
.accent-yellow {
  color: var(--yellow) !important;
}

.select {
  margin: 0 4rem 1rem 4rem;
}
