.navbar-brand {
  font-size: 2rem;
  /* old was 1.5em */
  margin-left: 16px;
}

.navbar-brand,
.nav-link {
  color: var(--black);
}

.nav-link {
  font-size: 1.1em;
  /* old was default */
}

nav {
  background: var(--white);
  /* border-radius: 20px;
  margin: 1%; */
}

.form-range::-moz-range-track {
  background: linear-gradient(
    to right,
    var(--yellow) 0%,
    var(--yellow) calc(var(--thumb-position) * 100%),
    var(--white) calc(var(--thumb-position) * 100%),
    var(--white) 100%
  );
}

.form-range::-webkit-slider-runnable-track {
  background: linear-gradient(
    to right,
    var(--yellow) 0%,
    var(--yellow) calc(var(--thumb-position) * 100%),
    white calc(var(--thumb-position) * 100%),
    white 100%
  );
}

.form-range::-webkit-slider-thumb {
  background-color: var(--yellow);
}

.form-range::-moz-range-thumb {
  background-color: var(--yellow);
}

.form-range::-webkit-slider-thumb:active {
  background-color: var(--gray-yellow);
  border: 0;
}

.form-range::-moz-range-thumb:active {
  background-color: var(--gray-yellow);
}

.inactive {
  opacity: 0;
  filter: blur(2px);
  transform: translateY(10%);
  transition: all 0.4s;
}
.active {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.delay-200 {
  transition-delay: 300ms;
}
.delay-400 {
  transition-delay: 500ms;
}
