@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap");

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  --white: #eff2f1;
  --gray-white: #d2d4d4;
  --black: #131316;
  --gray-black: #4e4e52;
  --yellow: #f39e1f;
  --gray-yellow: #f78809;
  --basic: #2b7ec7;
  --gray-basic: #266ead;
  --pro: #37c59d;

  --gray-pro: #00a171;
}

p {
  text-align: center;
  max-width: 50vw;
}

h4 {
  max-width: 50vw;
}

h1 {
  font-weight: 900;
}

section {
  background: var(--white);
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100vh;
  padding: 5rem;
  position: relative;
}

.text-yellow {
  color: var(--yellow);
}

.text-black {
  color: var(--black);
}

.text-gray {
  color: var(--gray);
}

.text-white {
  color: var(--white);
}

.text-pro {
  color: var(--pro);
}

.text-basic {
  color: var(--basic);
}

.yellow {
  background: var(--yellow);
  color: var(--white);
}

.white {
  color: var(--black);
  background: var(--white);
}

.black {
  color: var(--white);
  background: var(--black);
}

.basic {
  background: var(--basic);
  color: var(--white);
}

.pro {
  background: var(--pro);
  color: var(--white);
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-5%);
  transition: all 0.5s;
  transition-delay: 300ms;
}
.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.delay-400 {
  transition-delay: 700ms;
}

.button-container {
  display: flex;
  align-items: center;
}

.card {
  width: 90vw;
  height: 70vh;
  padding: 2rem;
  border: 0;
}

.o {
  opacity: 0%;
}
.over {
  overflow-y: auto;
  overflow-x: hidden;
}

.over::-webkit-scrollbar:horizontal {
  display: none;
}

.modal::-webkit-scrollbar {
  display: none;
}
