.vl {
  border-left: 3px solid var(--gray-white);
  margin: 0;
  height: 160%;
  opacity: 100%;
}

/* longer to cover the whole left by padding */
.vll {
  border-left: 3px solid var(--gray-white);
  margin: 0;
  height: 200%;
  opacity: 100%;
}

.long {
  width: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.accordion-button:focus,
.accordion-button {
  box-shadow: none !important;
  background: none !important;
  color: var(--black) !important;
} /* remove all color from button */

.accordion-button::after {
  background-image: initial;
  /* remove accordion arrow */
}
.accordion-button:not(.collapsed)::after {
  background-image: initial;
  /* remove accordion arrow */
}
